@using TaskManager.dto
@model UserDto

@{
    ViewData["Title"] = "User Details";
}

<h2>User Details</h2>

<div class="mb-3">
    <label class="form-label text-light">Full Name:</label>
    <p class="form-control-plaintext text-light">@Model.FullName</p>
</div>
<div class="mb-3">
    <label class="form-label text-light">Email:</label>
    <p class="form-control-plaintext text-light">@Model.Email</p>
</div>
<div class="mb-3">
    <label class="form-label text-light">Role:</label>
    <p class="form-control-plaintext text-light">@Model.RoleName</p>
</div>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>

