@using TaskManager.dto
@model UserDto

@{
    ViewData["Title"] = "Деталі користувача";
}

<h2>Деталі користувача</h2>

<div class="mb-3">
    <label class="form-label text-light">Повне ім'я:</label>
    <p class="form-control-plaintext text-light">@Model.FullName</p>
</div>
<div class="mb-3">
    <label class="form-label text-light">Email:</label>
    <p class="form-control-plaintext text-light">@Model.Email</p>
</div>
<div class="mb-3">
    <label class="form-label text-light">Роль:</label>
    <p class="form-control-plaintext text-light">@Model.RoleName</p>
</div>

<a asp-action="Index" class="btn btn-secondary">Повернутися до списку</a>

