@model UserWithRolesViewModel

@{
    ViewData["Title"] = "Редагування користувача";
}

<h2>Редагування користувача</h2>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="FullName" class="form-label">Повне ім'я:</label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Пошта:</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="RoleName" class="form-label">Роль:</label>
        <select asp-for="RoleName" asp-items="Model.AvailableRoles" class="form-select"></select>
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Зберегти</button>
    <a asp-action="Index" class="btn btn-secondary">Скасувати</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
